/* Globals */
:root {
    --color-text: #1e293b;        /* primary textcolor */
    --color-background: #f8fafc;  /* Background */
    --color-highlight-background: #c6d9e8;
    --color-foreground: #3b82f6;  /* accent color (e.g. buttons, links) */
    --color-accent: #0ea5e9;      /* secondary accent color for details */

    --color-success: #166534;
    --color-error: #9b2c2c;
}

body {
    font-family: system-ui, sans-serif;
    margin: 2rem;
    line-height: 1.6;

    background-color: var(--color-background);
    color: var(--color-text);
}
h1, h2 {
    color: var(--color-text);
}
textarea, input, select, button {
    display: block;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    width: 100%;
    padding: 0.6rem;
    font-size: 1rem;
    border-radius: 8px;
    border: 1px solid var(--color-foreground);
    box-sizing: border-box;
}
input[type="text"]::before, textarea::before {
    font-family: inherit;
}
label {
    margin-top: 1rem;
    font-weight: bold;
}
button {
    background-color: var(--color-foreground);
    color: var(--color-background);
    border: none;
    padding: 0.6rem 1rem;
    border-radius: 6px;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    gap: 0.4rem;
    font-weight: 500;
}
button:hover {
    background-color: var(--color-accent);
}
.section {
    background: var(--color-background);;
    border-radius: 12px;
    padding: 1.5rem;
    margin-top: 2rem;
    box-shadow: 0 4px 12px rgba(0,0,0,0.06);
}
.sectionHighlighted {
    background-color: var(--color-highlight-background);
    border-left: 5px solid var(--color-accent);
}
.bluesidebarP {
    font-size: 0.875rem;
    background-color: var(--color-foreground);
    padding: 0.5rem 1rem;
    border-left: 4px solid var(--color-foreground);
    border-radius: 4px;
    margin-bottom: 1rem;
}

.feedback-success {
    color: var(--color-success);
}

.feedback-error {
    color: var(--color-error);
}
.choice-inputs {
    margin-bottom: 1rem;
    display: grid;
    gap: 0.5rem;
}
.help {
    font-size: 0.875rem;
    color: var(--color-text);
    margin-top: -0.5rem;
    margin-bottom: 0.5rem;
}

.intro {
    padding: 1rem;
    margin-bottom: 2rem;
    border-radius: 8px;
    font-size: 0.9rem;
}
.intro h1 {
    font-size: 2rem;
    color: var(--color-foreground);
    margin-bottom: 0.25rem;
}
.intro h2 {
    margin-top: -0.5rem;
    color: var(--color-text);
    font-weight: normal;
    font-size: 1.2rem;
}

#output, #preview, #play-area, #tree-output {
    background: var(--color-background);
    border: 1px solid var(--color-foreground);
    padding: 1rem;
    border-radius: 8px;
    white-space: pre-wrap;
    font-family: ui-monospace, SFMono-Regular, monospace;
}

#play-area button {
    margin-top: 0.5rem;
}