# Workflow for deploying static content to GitHub Pages
name: Deploy static content to Pages

on:
  # Runs on pushes targeting the default branch
  push:
    branches: ["main"]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# Sets permissions of the GITHUB_TOKEN to allow deployment to GitHub Pages
permissions:
  contents: read
  pages: write
  id-token: write

# Allow only one concurrent deployment, skipping runs queued between the run in-progress and latest queued.
# However, do NOT cancel in-progress runs as we want to allow these production deployments to complete.
concurrency:
  group: "pages"
  cancel-in-progress: false

jobs:
  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      # Check if there are changes in the dist directory
      - name: Check for changes in dist
        id: check_changes
        run: |
          if git diff --quiet dist; then
            echo "no_changes=true" >> $GITHUB_OUTPUT
            echo "No changes detected in dist folder. Skipping deployment."
          else
            echo "no_changes=false" >> $GITHUB_OUTPUT
            echo "Changes detected in dist folder, proceeding with deployment."
          fi
      - name: Setup Pages
        if: steps.check_changes.outputs.no_changes == 'false'
        uses: actions/configure-pages@v5
      - name: Upload artifact
        if: steps.check_changes.outputs.no_changes == 'false'
        uses: actions/upload-pages-artifact@v3
        with:
          # Upload entire repository
          path: 'dist/'
      - name: Deploy to GitHub Pages
        if: steps.check_changes.outputs.no_changes == 'false'
        id: deployment
        uses: actions/deploy-pages@v4
